<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="template.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="template.entity.User">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="first_name" jdbcType="VARCHAR" property="first_name" />
    <result column="last_name" jdbcType="VARCHAR" property="last_name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="user_status" jdbcType="INTEGER" property="user_status" />
  </resultMap>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="template.entity.User" useGeneratedKeys="true">
    insert into user (username, first_name, last_name, 
      email, password, phone, 
      user_status)
    values (#{username,jdbcType=VARCHAR}, #{first_name,jdbcType=VARCHAR}, #{last_name,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{user_status,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, first_name, last_name, email, password, phone, user_status
    from user
  </select>
</mapper>