<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="template.mapper.PetCategoryMapper">
  <resultMap id="BaseResultMap" type="template.entity.PetCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pet_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="template.entity.PetCategory" useGeneratedKeys="true">
    insert into pet_category (id,name)
    values (#{name,jdbcType=INTEGER},#{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="template.entity.PetCategory">
    update pet_category
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name
    from pet_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name
    from pet_category
  </select>
</mapper>